.gameScreenContainer {
  display: table;
  font-size: 14px;
  font-family: 'Courier New', Courier, monospace;
}
.gameScreenRow {
  display: table-row;
}
.gameScreenCell {
  display: table-cell;
  padding: 6px 4px;
  min-width: 16px;
  text-align: center;
  vertical-align: middle;
}
.gameWall {
  color: maroon;
  background-color: brown;
}
.gamePacman {
  font-size: 14px;
  font-weight: bold;
  color: yellow;
}
.pacmanup {
  transform: rotateZ(90deg);
}
.pacmandown {
  transform: rotateZ(270deg);
}
.pacmanright {
  transform: rotateZ(180deg);
}
