.gameScreenContainer {
  display: table;
  font-size: 14px;
  font-family: 'Courier New', Courier, monospace;
}
.gameScreenRow {
  display: table-row;
}
.gameScreenCell {
  display: table-cell;
  padding: 6px 4px;
  min-width: 16px;
  text-align: center;
  overflow: hidden;
  vertical-align: middle;
}
.gameWall {
  color: maroon;
  background-color: brown;
}
.gamePacman {
  color: yellow;
  z-index: 1;
}
